@import "../../scss/variables";

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.metric-cards-cont {
  display: grid;
  justify-content: stretch;
  grid-template-columns: auto;
  @media (min-width: 360px){
    grid-template-columns: auto auto;
  }
  @media (min-width: 580px){
    grid-template-columns: auto auto auto;
  }
  @media (min-width: $medium-size) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.detail-cards-cont {
  display: grid;
  justify-content: stretch;
  grid-template-columns: auto;
  align-items: stretch;
  justify-content: stretch;
  @media (min-width: $large-size) {
    grid-template-columns: 50% 50%;
    :first-child {
      grid-column: span 2;
    }
    :nth-child(2), :nth-child(3), :nth-child(4) {
      grid-column: span 1;
    }
  }
  @media (min-width: 1300px) {
    grid-template-columns: 30% 20% 20% 30%;
    :first-child {
      grid-column: span 3;
    }
    :nth-child(2) {
      grid-column: span 1;
    }
    :nth-child(3), :nth-child(4) {
      grid-column: span 2;
    }
  }
  @media (min-width: 1660px) {
    grid-template-columns: 35% 20% 20% 25%;
    :first-child {
      grid-column: span 1;
    }
    :nth-child(2), :nth-child(3), :nth-child(4) {
      grid-column: span 1;
    }
  }
}