@import "../../scss/variables";

.block {
	width: 100%;
	padding: .5rem;
}

.metric-strips-cont {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.detail-cards-cont {
  display: grid;
  justify-content: stretch;
  grid-template-columns: auto;
  align-items: stretch;
  justify-content: stretch;
  @media (min-width: $medium-size) {
    grid-template-columns: 50% 50%;
  }
  @media (min-width: 1300px) {
    grid-template-columns: 40% 30% 30%;
  }
  @media (min-width: 1660px) {
    grid-template-columns: 35% 20% 20% 25%;
  }
}