@import "../../scss/variables";

.block {
	display: flex;
  flex-direction: column;
	width: 100%;
	padding: .5rem;
}

.metric-strips-cont {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.detail-cards-cont {
  display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
  @media (min-width: 480px) {
		flex-direction: row;
		flex-wrap: wrap;
  }
}