@import "../../scss/variables";

.block {
    margin: 0.75rem 0.5rem;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.02);
    border: 0.0625rem solid $divider-color;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #ffffff;
}