$primary-color: #262B40;
$primary-color-light: #2e3650;
$divider-color: #eaedf2;
$background-color: #f5f8fb;
$chart-background-color: #f9dbb9;

$medium-size: 768px; // 768 width is used in NavLayout.js
$large-size: 1024px;
$side-nav-width: 260px;
$top-nav-height: 72px;